@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans&display=swap');

/* ------------------------------------------------Colors */
body {
    background-color: #7d8491;
}

/* -----------------------------------------------Nav Bar */

.navbar-brand {
    margin-right: 0;
}

.nav-link {
    color: #030567;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #fbfef9;
    transition: 0.5s;
}

#navbarNav {
    margin-left: 15px;
}

button {
    margin-right: 15px;
}

.logo {
    font-family: 'Courgette', cursive;
    margin:0 15px 0 15px;
    font-size: 35px;
    color: #030567;
}

/* ------------------------------------------------Article */

.home-header {
    margin-top: 10px;
    text-align: center;
    color: #030567;
    font-family: 'Courgette', cursive;
    font-weight: 400;
}

.welcome {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #030567;
}