@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans&display=swap');

/* ------------------------------------------------Colors */
body {
    background-color: #7d8491;
}

footer {
    background-color: #030567;
}

.footer-wrapper {
    color: #7d8491;
}

/* ------------------------------------------------Special Margins, Text, paddings */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

/* -----------------------------------------------Nav Bar */

.navbar-brand {
    margin-right: 0;
}

.nav-link {
    color: #030567;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #fbfef9;
    transition: 0.5s;
}

#navbarNav {
    margin-left: 15px;
}

button {
    margin-right: 15px;
}

.logo {
    font-family: 'Courgette', cursive;
    margin:0 15px 0 15px;
    font-size: 35px;
    color: #030567;
}


/* ------------------------------------------------Article */

article {
    padding-bottom: 125px;
}

.home-header {
    margin-top: 10px;
    text-align: center;
    color: #030567;
    font-family: 'Courgette', cursive;
    font-weight: 400;
}

.welcome {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #030567;
}

/* ------------------------------------------------Footer */
footer {
    min-height: 120px;
    margin: 0;
}

.footer-wrapper {
    text-align: center;
}

.footer-wrapper > h3 {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    padding-top: 5px;
    font-weight: bold;
    text-decoration: underline;
}


.footer-wrapper > p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    margin-bottom: -2px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #7d8491;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #fbfef9;
    transition: 0.5s;
}

@media screen and (max-width: 576px) {
    .footer-contact {
        display: none;
    }
}