@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans&display=swap');

/* ------------------------------------------------Colors */
body {
    background-color: #7d8491;
}

footer {
    background-color: #030567;
}

.footer-wrapper {
    color: #7d8491;
}

/* ------------------------------------------------Special Margins, Text, paddings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline 2px #030567;
}

.active {
    text-decoration: underline 2px #030567;
}

.text {
    color: #030567;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
/* -----------------------------------------------Nav Bar */
.navbar-brand {
    margin-right: 0;
}

.nav-link {
    color: #030567;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #fbfef9;
    transition: 0.5s;
}

#navbarNav {
    margin-left: 15px;
}

button {
    margin-right: 15px;
}

.logo {
    font-family: 'Courgette', cursive;
    margin: 0 15px 0 15px;
    font-size: 35px;
    color: #030567;
}

/* ------------------------------------------------Home Page  */
article {
    padding-bottom: 125px;
}

.home-header {
    margin-top: 10px;
    text-align: center;
    color: #030567;
    font-family: 'Courgette', cursive;
    font-weight: 400;
}

.welcome {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #030567;
    padding-top: 20px;
}

/* ------------------------------------------------Footer */
footer {
    max-height: 125px;
}

.footer-wrapper {
    text-align: center;
    padding-bottom: 15px;
}

.footer-wrapper>h3 {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    padding: 5px 0 5px 0;
    font-weight: bold;
    text-decoration: underline;
}

.footer-wrapper>p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    margin-bottom: -2px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    margin-top: 15px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #7d8491;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #fbfef9;
    transition: 0.5s;
}

@media screen and (max-width: 574px) {
    .footer-contact {
        display: none;
    }

    .logo {
        font-size: 20px;
    }

    .navbar-toggler-icon {
        width: 1rem;
        height: 1rem;
    }
}

/* ------------------------------------------------Menu Page  */
.menu-img {
    max-width: 100%;
    max-height: 100%;
    border: #fbfef9 2px solid;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.col-2 {
    padding:25px;
}

.header {
    text-align: center;
    color: #030567;
    font-family: 'Courgette', cursive;
    font-weight: 400;
    margin: 15px;
}

.menu-items {
    text-align: center;
    color: #030567;
    font-family: 'Courgette', cursive;
    font-weight: 200;
    margin: 15px;
}

.menu-description {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #030567;
    margin: 15px;
}

@media screen and (max-width: 1250px) {
    .menu-img {
        width: 150px;
    }
}

@media screen and (max-width: 850px) {
    .menu-column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .col-2 {
        display: none;
    }

    .menu-column {
        width: 100%;
    }
}

/* ------------------------------------------------Contact Page  */
form {
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #030567;
    font-weight: bold;
}

.form-row {
    display: flex;
}

.form-border {
    border: #030567 solid 2px;
    margin: 5px;
}

.form-group {
    margin: 0 0 7px 5px;
}

.btn {
    margin-left: 5px;
}

@media screen and (max-width: 715px) {
        .contact-column {
        width: 100%;
    }

    form {
        margin-bottom: 50px;
    }
}

